@import "tailwindcss";
@source "../**/*.{js,ts,jsx,tsx,mdx}";

@theme inline {
  --font-poppins: "Poppins", sans-serif;
}
@layer utilities {
  .font-poppins {
    font-family: var(--font-poppins);
  }
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #0f172a;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #475569;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #64748b;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #475569 #0f172a;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.Toastify__toast {
  font-family: "Poppins", sans-serif;
  border-radius: 12px;
  background: #0f172a;
  color: white;
  font-size: 14px;
}

.Toastify__toast-body {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.Toastify__progress-bar {
  background: #ec6d13;
}

.Toastify__close-button {
  color: white;
}
